@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  background-color: #b6e8f3;
}

/* -------HEADER------- */

header {
  height: 100px;
  background-color: #b6e8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width: 670px) {
  header {
    font-size: 2.1em;
  }
}

/* -------SECTIONS------- */
.to-do-list {
  border: solid #6eadff 4px;
  height: calc(100vh - 170px);
  margin: 20px;
  border-radius: 30px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23C2ADCC' stroke-width='0' stroke-opacity='0.85'%3E%3Crect fill='%23FBF8F5' x='-60' y='-60' width='98' height='240'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
}

.my-tasks {
  height: 73%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(255, 255, 255, 0.826);
}

.create-task {
  height: 27%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: black;
}
/* -------INFO------- */
info {
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 60px;
  width: 60px;
  font-size: 1.6em;
  background-color: #b6e8f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
